body {
    margin: 0;
}

/* ====================== LES FILTRES ======================= */
.filters-section {
    margin: 50px 100px;
    background-color: grey;
    padding:10px;
}

.filters-title {
    margin: 5px;
}

.filters {
    display: flex;
    gap: 15px;
}



/* ===================== LES ARTICLES ======================= */
.items-section {
    margin: 0px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}
.item {
    width: 400px;
    height: 500px;
    position: relative;
}
.item-content {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%,-50%); /* sert à ce que son point d'ancrage soit au centre de la div */
    text-align: center;
}


